body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#selects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#selects label {
    margin-right: 5px; /* Space between label text and element */
}

#selects select,
#selects input {
    padding: 2px;
    font-size: 15px;
}

#buttons {
    margin-top: 10px;
}

#canvas {
    margin-top: 30px;
}

#side {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* max-width: 1000px; */
}

#movements {
    width: 300px; /* Adjust width as necessary */
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 20px; /* Space between canvas and movements */
    margin-top: 30px;
}

#movements p {
    margin-top: 0;
    font-weight: bold;
}

#movementsList {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

#movementsList li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

