body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
    background-color: black;

}

#selects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#selects label {
    margin-right: 5px;
}

#selects select,
#selects input {
    padding: 2px;
    font-size: 15px;
    color: #ffffff;
    background-color: #202020;
    border: 1px solid #2b2b2b;
    cursor: pointer;
}

#numberDisks {
    text-align: center;
    width: 50px;
    font-size: 15px;
    color: #ffffff;
    background-color: #202020;
    border: 1px solid #2b2b2b;
    margin: 0 5px;
    cursor: pointer;
}

#numberDisks:focus {
    outline: none; /* Optional: remove outline on focus */
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
}

#solve {
    color: #ffffff;
    background-color: #202020;
    border: 1px solid #2b2b2b;
    cursor: pointer;
}

#reset {
    color: #ffffff;
    background-color: #202020;
    border: 1px solid #2b2b2b;
    cursor: pointer;
}

#buttons {
    margin-top: 10px;
}

#canvas {
    margin-top: 30px;
}

#side {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#movementsTitle { 
    width: 300px;
    max-height: 410px;
    overflow-y: auto;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 30px;
    margin-top: 0;
    font-weight: bold;
}

#movements {
    width: 300px;
    max-height: 410px;
    overflow-y: auto;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 20px;
}

#movements p {
    margin-top: 0;
    font-weight: bold;
}

#movementsList {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

#movementsList li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #202020;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}